.sc_cl_div_option{
  margin-top: 5px;
  width: 300px;
  /* height: 200px; */
  background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}
  
/* .sc_cl_input{
  width: 300px;
} */

.sc_cl_img{
  width: 17px;
}

.sc_cl_th{
  font-size: 14px!important;
  text-transform: capitalize;
  padding: 2px 4px!important;
}
.sc_cl_td{
  font-size: 14px!important;
  /* padding: 4px 4px!important; */
}
.sc_cl_table_icons{
  font-size: 14px!important;
  cursor: pointer;
}
/* tr:hover{
  color: null;
} */

.sc_cl_thead{
  background-color: navy;
  color: white;
}
.sc_cl_checkbox{
  display: inline;
  margin: 2px;
  padding: 4px;
}

.sc_cl_input_hidden{
  border: none;
  color:blue
}

.sc_cl_label{
  font-size: 14px!important;
  font-weight: 500;
  margin-bottom: 1px!important;
  /* color: red; */
}
.form-select{
  font-size: 12px!important;
}
.f-right{
  float: right;
}
.breadcrumb-item a, div a{
  text-decoration: none;
}
.sc_cl_input{
  padding: 2px 6px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px!important;
}
.sc_cl_form{
  border: 1px solid lightgrey;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #d3d3d321;
}
.sc_cl_user{
  /* background-color:'transparent'; */
  color:'black';
  border:'none';
}
.sc_cl_search{
  width: 30px;
  height: 30px;
  display: flex;
  margin-left: 4px;
  font-size: 12pt;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(58, 142, 215);
}


.sc_btn_active{
  border: 2px solid darkgray;
}
.breadcrumb-item{
  font-size: 12px;
}
:root {
  --my-theme-color: white;
}

.theme {
  background-color: var(--my-theme-color);
  /* color: white; */
}

/* @media only screen and (min-width: 768px) {
.sc_cl_div{
  
  margin: 5px 5px 5px 5px;
}
} */

/* CSS for Charts */


.sc_cl_grid-container-element { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  width: 50%; 
} 
.sc_cl_grid-child-element { 
  margin: 5px; 
}
.threedots:after {
  content: "\2807";
  font-size: 20px;
}
.sc_cl_chart_res_cont{
  background-color: greenyellow;
}

.alert-box{
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 10%;
}
.alert{
  margin-left: 20px;
  /* width: 100%; */
  background: #ffdb9b!important;
  padding: 20px 40px;
  /* min-width: 420px; */
  position: absolute;
  right: 0;
  top: 0px;
  border-radius: 4px;
  border-left: 8px solid #ffa502;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert.showAlert{
  opacity: 1!important;
  pointer-events: auto!important;
}
.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  /* display: none; */
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .exclamation-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}
.alert .msg{
  padding: 0 40px;
  font-size: 18px;
  color: #ce8500;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  /* background: #ffd080; */
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-btn:hover{
  background: #ffc766;
}
.alert-p-tag{
  font-size: 12px;
  margin: auto;
}
/* .alert .close-btn .fas{
  color: #ce8500;
  font-size: 22px;
  line-height: 40px;
} */
.nav-tabs{
  font-size: 14px;
}
.lightgreen {
  background-color: lightgreen!important;
}
.lightcoral{
  background-color: lightcoral!important;
}
.sc_cl_etl_thead > th, .sc_cl_etl_tbody > td{
  text-align: left;
  padding: 8px;
}
.sc_cl_etl_thead > th{
  border-bottom: 1px solid #ddd;
}
.sc_cl_etl_tbody > tr > td{
  padding-left: 8px!important;
}

/* .sc_cl_etl_thead,.sc_cl_etl_tbody{
  display: block!important;
}
.sc_cl_etl_tbody > td{
  text-align: center;
} */
.sc_cl_etl_table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin: 0 auto;
  background-color: white;
}
.sc_cl_etl_tbody{
  display: block;
  height: 150px;
  overflow: auto;
}
.sc_cl_etl_thead, .sc_cl_etl_tbody > tr{
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
  font-size: 12px!important
}
.sc_cl_etl_thead{
  width: calc( 100% - 1em );/* scrollbar is average 1em/16px width, remove it from thead width */
}
.sc_cl_connection_container{
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
}
.sc_cl_connection_card{
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: white;
  width: 20%!important;
  cursor: pointer;
}
/* .sc_cl_connection_card > svg{
  width: 20%!important;
  height: 100%!important;
} */
.sc_cl_connection_icon, .sc_cl_connection_card > svg{
  width: 20%!important;
  height: 100%!important;
}
.sc_cl_connection_card > span{
  padding-left: 12px;
  font-size: 12px;
  /* vertical-align: baseline;
  text-align: center;
  font-size: 14px;
  text-wrap: wrap; */
  /* position: fixed; */
}
.oracle{
  color: #f80000;
}
.mysql{
  color: #00758f;
}
.snowflake{
 color: #D2ECEB;
}
.sc_cl_agree_box_container{
  /* position: relative;
  top: 30px; */
  margin: 30px 0px 10px 0px;
}
.sc_cl_agree_box{
  background-color: #d3d3d37d;
  padding: 6px 12px;
  margin-top: 10px;
}
.sc_cl_agree_box > p{
  margin-bottom: 0px!important;
  font-size: 12px;
  font-style: italic;
}
.sc_cl_agree_box > span{
  font-size: 14px;
}
.sc_cl_form_buttons{
  position: relative;
  float: right;
  padding: 20px;
}
.sc_cl_form_buttons > button{
  margin: 0px 8px;
}
.list-unstyled > li{
  font-size: 12px;
}
.sc_cl_query_text{
  height: 300px;
  width: '600px!important';
  font-size: 14px;
  background: azure!important;
  border: 1px solid gray!important;
}
.form-control:focus{
  border: 0px!important;
  border-color: ''!important;
  border: 1px solid gray!important;
}